@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.flexGrow {
  flex-grow: 1; 
}

.mainContainer {
  margin-top: 30px;
  margin-bottom: 20px;
}

pre, code {
  font-family: monospace, monospace;
  border-radius: 6px;
  padding: 2px;
  color: white;
  background-color: #455a64;
  /* background-color: #1976d2; */
}
  
/* @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body {
  margin: 0;
  padding: 0;
  text-align: center; } */
