requests
python-graphql-client==0.3.0
python-gitlab
rdflib>=6.1.1
SPARQLWrapper>=1.8.5
PyYAML
# prance[osv,icu,cli]
prance
obonet
PyShExC
git+https://github.com/MaastrichtU-IDS/d2s-cli.git@master
# d2s-cli@git+https://github.com/MaastrichtU-IDS/d2s-cli.git@master
# git+https://github.com/MaastrichtU-IDS/d2s-cli.git@develop
# d2s