@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* @import url("https://fonts.googleapis.com/icon?family=Material+Icons"); */

.flexGrow {
  flex-grow: 1; 
}

/* For codeblocks */
pre, code {
  font-family: monospace, monospace;
  border-radius: 6px;
  padding: 2px;
  color: white;
  background-color: #455a64;
  /* background-color: #1976d2; */
}
