/* @import url("https://fonts.googleapis.com/css?family=Open+Sans"); */

.mainContainer {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

/* a { text-decoration: none; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; } */

/* .MuiButton-root.MuiButton-contained {
  text-transform: none;
} */
